ProEnt.LoanPrequalification.UI.MVC/Service References/LoanApplicationService/LoanApplicationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLoanApplicationSummaryView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanApplicationSummaryView" nillable="true" type="tns:LoanApplicationSummaryView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanApplicationSummaryView" nillable="true" type="tns:ArrayOfLoanApplicationSummaryView" />
  <xs:complexType name="LoanApplicationSummaryView">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasOffer" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanApplicationSummaryView" nillable="true" type="tns:LoanApplicationSummaryView" />
  <xs:complexType name="LoanApplicationDetailView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assets" nillable="true" type="tns:ArrayOfAssetView" />
      <xs:element minOccurs="0" name="Borrowers" nillable="true" type="tns:ArrayOfBorrowerView" />
      <xs:element minOccurs="0" name="Debts" nillable="true" type="tns:ArrayOfDebtView" />
      <xs:element minOccurs="0" name="Deposit" type="xs:int" />
      <xs:element minOccurs="0" name="HasOffer" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:int" />
      <xs:element minOccurs="0" name="LoanTerm" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyPostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyTown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyValue" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanApplicationDetailView" nillable="true" type="tns:LoanApplicationDetailView" />
  <xs:complexType name="ArrayOfAssetView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetView" nillable="true" type="tns:AssetView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetView" nillable="true" type="tns:ArrayOfAssetView" />
  <xs:complexType name="AssetView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" type="xs:float" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetView" nillable="true" type="tns:AssetView" />
  <xs:complexType name="ArrayOfBorrowerView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BorrowerView" nillable="true" type="tns:BorrowerView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBorrowerView" nillable="true" type="tns:ArrayOfBorrowerView" />
  <xs:complexType name="BorrowerView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="BankAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccountname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankSortCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditAgency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditScore" type="xs:int" />
      <xs:element minOccurs="0" name="EmployerCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerPostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerTown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthlyIncome" type="xs:int" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BorrowerView" nillable="true" type="tns:BorrowerView" />
  <xs:complexType name="ArrayOfDebtView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DebtView" nillable="true" type="tns:DebtView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDebtView" nillable="true" type="tns:ArrayOfDebtView" />
  <xs:complexType name="DebtView">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceOwed" type="xs:float" />
      <xs:element minOccurs="0" name="CreditorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthlyPayment" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebtView" nillable="true" type="tns:DebtView" />
  <xs:complexType name="LoanApplicationCreateView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asset1" nillable="true" type="tns:AssetView" />
      <xs:element minOccurs="0" name="Asset2" nillable="true" type="tns:AssetView" />
      <xs:element minOccurs="0" name="Asset3" nillable="true" type="tns:AssetView" />
      <xs:element minOccurs="0" name="Borrower1" nillable="true" type="tns:BorrowerView" />
      <xs:element minOccurs="0" name="Borrower2" nillable="true" type="tns:BorrowerView" />
      <xs:element minOccurs="0" name="Debt1" nillable="true" type="tns:DebtView" />
      <xs:element minOccurs="0" name="Debt2" nillable="true" type="tns:DebtView" />
      <xs:element minOccurs="0" name="Debt3" nillable="true" type="tns:DebtView" />
      <xs:element minOccurs="0" name="Deposit" type="xs:int" />
      <xs:element minOccurs="0" name="HasOffer" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasSecondBorrower" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:int" />
      <xs:element minOccurs="0" name="LoanTerm" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyPostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyTown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyValue" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanApplicationCreateView" nillable="true" type="tns:LoanApplicationCreateView" />
  <xs:complexType name="OfferLetterView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasSecondBorrower" type="xs:boolean" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:float" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:int" />
      <xs:element minOccurs="0" name="LoanApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanTerm" type="xs:int" />
      <xs:element minOccurs="0" name="Recipient2City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipient2Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipient2PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipient2Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipient2Town" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientPostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientTown" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfferLetterView" nillable="true" type="tns:OfferLetterView" />
</xs:schema>