ProEnt.LoanPrequalification.UI.MVC/Service References/ProductService/ProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3075/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Messages" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Messages" minOccurs="0" name="productGetRequest" nillable="true" type="q1:ProductGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Messages" minOccurs="0" name="GetProductResult" nillable="true" type="q2:ProductGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Messages" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q3:ProductListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Messages" minOccurs="0" name="productCreateRequest" nillable="true" type="q4:ProductCreateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Messages" minOccurs="0" name="CreateProductResult" nillable="true" type="q5:ProductCreateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>