ProEnt.LoanPrequalification.UI.MVC/Service References/ProductService/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProEnt.LoanPrequalification.Service.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:float" />
      <xs:element minOccurs="0" name="MaximumLTV" type="xs:float" />
      <xs:element minOccurs="0" name="MaximumLoan" type="xs:float" />
      <xs:element minOccurs="0" name="MaximumLoanTerm" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductView" nillable="true" type="tns:ProductView" />
  <xs:complexType name="ArrayOfProductView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductView" nillable="true" type="tns:ProductView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductView" nillable="true" type="tns:ArrayOfProductView" />
</xs:schema>